body {
    font-family: var(--font-rob);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: calc(19 / 16);
  
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
  }

  .link {
  text-decoration: none;
  }

  address {
    font-style: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
  }

  .web,
.logo,
.logo-footer {
font-family: var(--font-ral);
font-weight: 700;
font-size: 24px;
line-height: calc(28 / 24);

color: var(--accent-color);

@media screen and (min-width:1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    }
}

.no-scroll {
  overflow: hidden;
}