.hero {
  display: flex; 
  flex-direction: column;
  align-items: center;

  width: 100%;
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-mob.jpg);
    

    @mixin mobile {
      background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero-bg-tab.jpg);
        }

  @include tablet {
      background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
              ),
              url(../images/hero.jpg);
            }


   @include desktop {
      padding-top: 200px;
      padding-bottom: 200px;
    
    }
  }
  
  .hero__title {
    width: 100%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
  
    margin-bottom: 30px;
  
    color: var(--white-text-color);

    @media screen and (min-width:1200px) {
      line-height: calc(60 / 44);
      font-size: 44px;
      }
  
      @media screen and (max-width:1199px) {
        max-width: 360px;
      }
  
      @media screen and (min-width:1200px) {
        max-width: 696px;
      }
   
  }
  
  .hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    padding: 10px 32px;
  
    min-width: 216px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  
    color: var(--white-text-color);
  
    background: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
  }

 